BACKEND_BASE_URL=http://localhost:6006
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SEGMENTCACS_WRAPPER=/root/autodl-tmp/SEGMENT-CACS/model-service-python/run_segmentcacs.py
SEGMENTCACS_SRC=/root/autodl-tmp/SEGMENT-CACS/src
MODEL_PATH=/root/autodl-tmp/SEGMENT-CACS/data/model/SegmentCACS_0001619_unet.pt
DEVICE=cuda
USE_ZERO_MODULE=false
WORKER_MODE=real

# Windows local CPU example
# BACKEND_BASE_URL=http://localhost:6006
# KAFKA_BOOTSTRAP_SERVERS=localhost:9092
# SEGMENTCACS_WRAPPER=C:/cac-runtime/SEGMENT-CACS/model-service-python/run_segmentcacs.py
# SEGMENTCACS_SRC=C:/cac-runtime/SEGMENT-CACS/src
# MODEL_PATH=C:/cac-runtime/SEGMENT-CACS/data/model/SegmentCACS_0001619_unet.pt
# DEVICE=cpu
# USE_ZERO_MODULE=false
# WORKER_MODE=real
